<h1>
  Add a new bathroom
</h1>


<hr>

<form action="/create_bathroom" method="post">

  <div class="form-group">
    <label for="bathroom_type">
      Bathroom type
    </label>

    <input type="text" id="bathroom_type" name="bathroom_type" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="outside_access">
    <input id="outside_access" class="form-check-input" name="outside_access" type="checkbox">
    <label for="outside_access" class="form-check-label">
      Outside access
    </label>
  </div>

  <div class="form-group">
    <label for="building">
      Building
    </label>

    <input type="text" id="building" name="building" class="form-control">
  </div>

  <div class="form-group">
    <label for="room_number">
      Room number
    </label>

    <input type="text" id="room_number" name="room_number" class="form-control">
  </div>

  <div class="form-group">
    <label for="latitude">
      Latitude
    </label>

    <input type="text" id="latitude" name="latitude" class="form-control">
  </div>

  <div class="form-group">
    <label for="longitude">
      Longitude
    </label>

    <input type="text" id="longitude" name="longitude" class="form-control">
  </div>

  <div class="form-group">
    <label for="door_width">
      Door width
    </label>

    <input type="text" id="door_width" name="door_width" class="form-control">
  </div>

  <div class="form-group">
    <label for="doorknob_type">
      Doorknob type
    </label>

    <input type="text" id="doorknob_type" name="doorknob_type" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="auto_push_button">
    <input id="auto_push_button" class="form-check-input" name="auto_push_button" type="checkbox">
    <label for="auto_push_button" class="form-check-label">
      Auto push button
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="double_doors">
    <input id="double_doors" class="form-check-input" name="double_doors" type="checkbox">
    <label for="double_doors" class="form-check-label">
      Double doors
    </label>
  </div>

  <div class="form-group">
    <label for="stall_door_width">
      Stall door width
    </label>

    <input type="text" id="stall_door_width" name="stall_door_width" class="form-control">
  </div>

  <div class="form-group">
    <label for="stall_doorknob_type">
      Stall doorknob type
    </label>

    <input type="text" id="stall_doorknob_type" name="stall_doorknob_type" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="stall_auto_close">
    <input id="stall_auto_close" class="form-check-input" name="stall_auto_close" type="checkbox">
    <label for="stall_auto_close" class="form-check-label">
      Stall auto close
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="stall_interior_handle">
    <input id="stall_interior_handle" class="form-check-input" name="stall_interior_handle" type="checkbox">
    <label for="stall_interior_handle" class="form-check-label">
      Stall interior handle
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="toilet_space">
    <input id="toilet_space" class="form-check-input" name="toilet_space" type="checkbox">
    <label for="toilet_space" class="form-check-label">
      Toilet space
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="grab_bars">
    <input id="grab_bars" class="form-check-input" name="grab_bars" type="checkbox">
    <label for="grab_bars" class="form-check-label">
      Grab bars
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="toilet_paper_reach">
    <input id="toilet_paper_reach" class="form-check-input" name="toilet_paper_reach" type="checkbox">
    <label for="toilet_paper_reach" class="form-check-label">
      Toilet paper reach
    </label>
  </div>

  <div class="form-group">
    <label for="toilet_paper_height">
      Toilet paper height
    </label>

    <input type="text" id="toilet_paper_height" name="toilet_paper_height" class="form-control">
  </div>

  <div class="form-group">
    <label for="flush_button_type">
      Flush button type
    </label>

    <input type="text" id="flush_button_type" name="flush_button_type" class="form-control">
  </div>

  <div class="form-group">
    <label for="toilet_seat_height">
      Toilet seat height
    </label>

    <input type="text" id="toilet_seat_height" name="toilet_seat_height" class="form-control">
  </div>

  <div class="form-group">
    <label for="seat_cover_height">
      Seat cover height
    </label>

    <input type="text" id="seat_cover_height" name="seat_cover_height" class="form-control">
  </div>

  <div class="form-group">
    <label for="urinal_height">
      Urinal height
    </label>

    <input type="text" id="urinal_height" name="urinal_height" class="form-control">
  </div>

  <div class="form-group">
    <label for="number_accessible_stalls">
      Number accessible stalls
    </label>

    <input type="text" id="number_accessible_stalls" name="number_accessible_stalls" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="roll_under_sink">
    <input id="roll_under_sink" class="form-check-input" name="roll_under_sink" type="checkbox">
    <label for="roll_under_sink" class="form-check-label">
      Roll under sink
    </label>
  </div>

  <div class="form-group">
    <label for="sink_height">
      Sink height
    </label>

    <input type="text" id="sink_height" name="sink_height" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="hot_pipes_wrapped">
    <input id="hot_pipes_wrapped" class="form-check-input" name="hot_pipes_wrapped" type="checkbox">
    <label for="hot_pipes_wrapped" class="form-check-label">
      Hot pipes wrapped
    </label>
  </div>

  <div class="form-group">
    <label for="faucet_type">
      Faucet type
    </label>

    <input type="text" id="faucet_type" name="faucet_type" class="form-control">
  </div>

  <div class="form-group">
    <label for="soap_dispenser_height">
      Soap dispenser height
    </label>

    <input type="text" id="soap_dispenser_height" name="soap_dispenser_height" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="hand_dryer">
    <input id="hand_dryer" class="form-check-input" name="hand_dryer" type="checkbox">
    <label for="hand_dryer" class="form-check-label">
      Hand dryer
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="tampon_pad_dispenser">
    <input id="tampon_pad_dispenser" class="form-check-input" name="tampon_pad_dispenser" type="checkbox">
    <label for="tampon_pad_dispenser" class="form-check-label">
      Tampon pad dispenser
    </label>
  </div>

  <div class="form-group">
    <label for="tp_dispenser_height">
      Tp dispenser height
    </label>

    <input type="text" id="tp_dispenser_height" name="tp_dispenser_height" class="form-control">
  </div>

  <div class="form-group">
    <label for="mirror_height">
      Mirror height
    </label>

    <input type="text" id="mirror_height" name="mirror_height" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="alarm_system">
    <input id="alarm_system" class="form-check-input" name="alarm_system" type="checkbox">
    <label for="alarm_system" class="form-check-label">
      Alarm system
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="obstructions">
    <input id="obstructions" class="form-check-input" name="obstructions" type="checkbox">
    <label for="obstructions" class="form-check-label">
      Obstructions
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="stall_marked_accessible">
    <input id="stall_marked_accessible" class="form-check-input" name="stall_marked_accessible" type="checkbox">
    <label for="stall_marked_accessible" class="form-check-label">
      Stall marked accessible
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="door_marked_accessible">
    <input id="door_marked_accessible" class="form-check-input" name="door_marked_accessible" type="checkbox">
    <label for="door_marked_accessible" class="form-check-label">
      Door marked accessible
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="marked_unisex">
    <input id="marked_unisex" class="form-check-input" name="marked_unisex" type="checkbox">
    <label for="marked_unisex" class="form-check-label">
      Marked unisex
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="location_isolated">
    <input id="location_isolated" class="form-check-input" name="location_isolated" type="checkbox">
    <label for="location_isolated" class="form-check-label">
      Location isolated
    </label>
  </div>

  <div class="form-group">
    <label for="next_door_bathrooms">
      Next door bathrooms
    </label>

    <input type="text" id="next_door_bathrooms" name="next_door_bathrooms" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="interior_lock">
    <input id="interior_lock" class="form-check-input" name="interior_lock" type="checkbox">
    <label for="interior_lock" class="form-check-label">
      Interior lock
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="dispenser_functional">
    <input id="dispenser_functional" class="form-check-input" name="dispenser_functional" type="checkbox">
    <label for="dispenser_functional" class="form-check-label">
      Dispenser functional
    </label>
  </div>

  <div class="form-group">
    <label for="dispenser_cleanliness">
      Dispenser cleanliness
    </label>

    <input type="text" id="dispenser_cleanliness" name="dispenser_cleanliness" class="form-control">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="changing_table">
    <input id="changing_table" class="form-check-input" name="changing_table" type="checkbox">
    <label for="changing_table" class="form-check-label">
      Changing table
    </label>
  </div>

  <div class="form-group">
    <label for="changing_table_height">
      Changing table height
    </label>

    <input type="text" id="changing_table_height" name="changing_table_height" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create bathroom
  </button>
</form>

<hr>

<a href="/bathrooms">
  Go back
</a>
